<div class="container-fluid d-flex align-items-center justify-content-center vh-100 bg-light">
    <div class="row shadow-lg   ">
        <div class="col-lg-6 col-md-6 col-12 authLayout border border-1 d-flex align-items-center p-lg-5 p-4">
            <div class="authtext fw-bold fs-4">
                Working Details System
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-center border border-1 p-lg-5 p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>